# Python
__pycache__/
*.py[cod]
*.sqlite
*.pyc
*.pyd
*.pyo

# Ambiente virtual
venv/
env/
.venv/

# Arquivos de configuração
instance/
.env
.env.local

# IDE
.idea/
.vscode/

# Uploads
uploads/

# Banco de dados local
site.db

# Outros
*.log
*.pot
*.sql